.quote-item-content {
  margin: 0 auto;
  max-width: 1000px;
}
.quote-item-container {
  margin: 0 auto;
  padding: 100px 0px;
}
.quote-item-sentence{
    padding: 100px 0px;
}
.quote-sentence{
    font-size: 35px;
}
.quote-sentence-credit{
    text-align: right;
}