.whiteDiv{
  background-color: white;
}

.skillBox-wrapper{
  z-index: 2;
  max-width: 1200px;
  margin : 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
}
.all{
  width:100%;
}

