.summary-container {
  background-color: white;
  padding: 100px 15px 0px;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  margin: 0 auto;
}

.summary-content {
  padding: 0 15px;
}

.summary-description {
  color: #484848;
  text-align: justify;
  text-justify: inter-word;
}
.summary-title {
  text-align: left;
  color: #333333;
}
.about-list {
  text-align: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.about-list-item {
  margin: 0 0 10px 0;
  color: #666666;
}
.about-list-item-fa {
  margin: 0 5px 0 0;
}
.about-list-item-fa .fa {
  margin: 0 5px 0 0;
  color: black;
}

.skills-year-content {
  padding: 0px 15px;
}
.progressBar {
  border-radius: 15px;
  background-color: #dfdfdf;
  height: 6px;
}
.skill-percentage-visual {
  border-radius: 15px;
  background-color: #191849;
  height: 100%;
}
.skill-info-content {
  padding: 5px 0px;
  font-size: 16px;
  font-weight: bold;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skill-name {
  text-align: left;
}
.skill-year {
  text-align: right;
  padding-right: 5px;
}

.anchorNoStyle span{
  position: relative;
  z-index: 2;
}

.anchorNoStyle:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #191849;
  transition: all .75s;
}

.anchorNoStyle:hover{
  color: #fff;
}

.anchorNoStyle:hover:after{
  width: 100%;
}

.anchorNoStyle{
  display: block;
  width: 200px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #31302B;
  border: 3px solid #31302B;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  transition: all .35s;
  padding: 12px 17px;
  box-shadow: inset 0 0 0 0 #31302B;
  display: inline-block;
}