.container {
  text-align: center;
  position: relative;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
}
.centeredContainer {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  top: 50%;
}
.title {
  font-size: 70px;
  color: white;
}
.description {
  color: white;
  font-size: 20px;
}
.fa-chevron-down {
  color: white;
}
.bottomDiv {
    position: absolute;
    height: 40px;
    width: 40px;
    bottom: 5px;
    left:50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
}


.bottomDiv .fas {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: #fff;
    animation: animate 1.5s linear infinite;
    text-shadow: 0 2px 5px rgba(0,0,0,.2);

}
@keyframes animate {
    0%{
        top: 20%;
    }
    40%{
        top: 60%;
    }
    60%{
        top: 30%;
    }
    80%{
        top: 60%;
    }
    100%{
        top: 80%;
    }

}
hr {
  display: block;
  width: 25%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.socialContactsIcons {
  width: 20%;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
}
.fab {
  font-size: 30px;
  color: white;
}

.socialContactsIcons a .fab:hover{
  color: #191849;
}
@media screen and (max-width: 600px) {
  .socialContactsIcons {
    width: 50%;
  }
  .title {
    font-size: 8vw;
  }
  .description {
    font-size: 3.5vw;
  }
  .fab {
    font-size: 30px;
    color: white;
  }
}
.overlay{
    z-index: 1;
    height: 100%;
    width: 100%;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7); /*can be anything, of course*/

}