.summary-container {
    /* background-color: #8C43FF; */
    background-color: #cbcbd3;
    
}

.summary-content {
    /* color: #293347; */
    color: white;
    text-align: center;
    font-family: 'Crete Round', serif;
}

.is-hr-summary{
    width:20%;
    border-top: 1px solid white;
}