.experience-title {
  text-align: center;
}
.experience-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 10px 0px;
}
.experience-content {
  padding-top: 50px;
}
.experiences-showcase-container {
  text-align: center;
}
.ExperienceItemDiv {
  margin-bottom: 50px;
}