.top-menu {
  max-width: 1200px;
  padding: 10px 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.top-menu .top-menu-icon {
  padding: 10px;
  right: 0;
  display: none;
}
.NavContainer {
  margin: 0 auto;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  position: -webkit-sticky; /* Safari & IE */
  top: 0;
  z-index: 3;
  /* Firefox */
  -moz-transition: all 0.5s ease-in;
  /* WebKit */
  -webkit-transition: all 0.5s ease-in;
  /* Opera */
  -o-transition: all 0.5s ease-in;
  /* Standard */
  transition: all 0.5s ease-in;
}
.NavigationTabAnchor {
  line-height: 37px;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  position: relative;
}
.NavBarAnchorContainer {
  display: flex;
  margin: 0 auto;
}
.white-titles {
  display: flex;
  color: white;
}
.black-titles {
  display: flex;
  color: black;
}

.top-menu a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color: orange;
}
#logo {
  height: 35px;
}
.NavBarAnchorContainer > .active {
  color: orange;
}
.NavBarAnchorContainer:hover {
  cursor: pointer;
}
@media screen and (max-width: 900px) {

  .top-menu {
    padding: 10px 10px;
    overflow: hidden;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;

  }
  .top-menu-icon {
    position: absolute;
    display: block !important;
    top: 0;
    right:0;
    line-height: 37px;
  }
  .top-menu.toggled {
    padding: 10px 10px;
    max-height: 1500px;
    transition: max-height 1s;
    display: block;
  }
  .top-menu.toggled > .NavBarAnchorContainer {
    display: block;
  }
  .top-menu > .NavBarAnchorContainer {
    display: none;
  }
}