.grid-container {
  max-width: 1200px;
  padding: 10px 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.NavContainer {
  position: fixed;
  width:100%;
  top: 0;
  left: 0;
  position: -webkit-sticky; /* Safari & IE */
  top: 0;
  z-index: 3;
  /* Firefox */
  -moz-transition: all 0.5s ease-in;
  /* WebKit */
  -webkit-transition: all 0.5s ease-in;
  /* Opera */
  -o-transition: all 0.5s ease-in;
  /* Standard */
  transition: all 0.5s ease-in;
}
.NavigationTabAnchor {
  white-space: nowrap ;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.NavBarAnchorContainer {
  display:flex;
  margin: 0 auto;

}
.white-titles {
  display: flex;
  color: white;
}
.black-titles{
  display: flex;
  color: black;
}

.NavBar a:link {
  color: black;
  text-decoration: none;
}


a:hover {
  color: red;
}
.NavBarBurgerMenu, .navbarMobileInactive{
  display:none;
}
.navbarMobileActive{
  position: fixed;
  height:100%;
  width:100%;
  background-color: black;
  color: white;
  font-size: 2em;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
   -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
       animation: fadein 1s;
       

}
.navbarMobileActive a:link {
  color: white;
  text-decoration: none;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
.navMenuMobile{
  top:50%;
  transform: translateY(-50%);
  width:100%;
  text-align: center;
  position: absolute;
}
@media screen and (max-width: 900px) {
  .NavBarAnchorContainer {
    display: none;
  }
  .NavBarBurgerMenu {
    display:block;
    text-align: right;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 11fr  1fr;
    grid-gap: 10px;
  }
}
.fa-times{
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  font-size: 1em;

}
#logo{
  height:35px;
}
.NavBarAnchorContainer > .active {
  border-bottom: 2px solid #191849;
}
.NavBarAnchorContainer:hover{
  cursor: pointer;
}