.skillBox-container {
    background-color: white;
    width: 100%;
    text-align: center;
    border: 5px solid black;
}

.fa-mobile-alt {
    font-size: 2.5em;
    color: #cbcbd3;
    text-shadow: 1px 1px 1px #ccc;
}

.is-title-skillBox{
    font-size: 1.5em;
    color: black;
}

.skill-description{
    font-size: 1em;
    color: #cbcbd3;
}

.skill-sub-title{
    color: #293347;
}
.unordered-list-no-style {
    list-style-type: none;
    margin-left: 0;
    margin: 0;
}

.is-hr-skillBox{
    width:33%;
    border-top: 1px solid #cbcbd3;
}

.fa-android{
    color: #cbcbd3;
}
.fa-apple{
    color: #cbcbd3;
}

.platform-description-container {
    margin : 0 auto;
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
}

.skills-container-wrapper {
    z-index: 2;
    margin : 0 auto;
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
}